@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
@import "tailwindcss";

@layer base {
  body {
    overscroll-behavior-y: none;
  }

  html {
    scroll-behavior: smooth;
  }
}

@media (max-width: 768px) {
  /* Custom Scrollbar for Mobile */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
  }

  *::-webkit-scrollbar {
    width: 6px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
  }
}
