@import url('https://fonts.googleapis.com/css2?family=Updock&display=swap');
@import "tailwindcss";

@layer base {
  body {
    overscroll-behavior-y: none;
  }

  html {
    scroll-behavior: smooth;
  }

  /* Custom Scrollbar */
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
  }

  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 20px;
  }
}
